.form {
    text-align: right;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: rgb(214, 28, 28);
    border: 1px solid red;
    box-shadow: 0px 2px 7px black;
    color: white;
    padding: 0.25rem 1.5rem;
    border-radius: 2px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color:rgba(0, 128, 0, 0.926);
    border-color: green;
  }